<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" 
            type="button" data-toggle="collapse" data-target="#MyNavUp" 
            aria-controls="MyNavUp" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="index.html">EcoSorbent</a>
    <div class="collapse navbar-collapse" id="MyNavUp">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </div>
</nav>